footer {

    width: 100%;
    height: max-content;

    padding: 5rem;
    background-color: var(--slate-050);
}

.footer__logo,
.footer__desc {

    width: 100%;
    height: max-content;
    text-align: center;
}

.footer__logo img { width: 23rem }
.footer__desc { margin-top: 1rem; }

.footer__desc {

    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.7;

    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--grey-400);
}

.footer__nav {

    margin-top: 2.5rem;

    display: grid;

    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(auto, max-content);

    gap: 5rem;
}

/* ====== List ====== */

.list {

    width: max-content;
    min-height: 15rem;

    text-align: left;

    display: flex;
    flex-direction: column;
}

.list__title {

    margin-bottom: 1.5rem;

    font-size: 1.9rem;
    font-weight: 500;
}

.list__link:not(:last-child) { margin-bottom: 1.5rem; }

.list__link {

    display: inline-block;

    text-decoration: none;
    color: inherit;

    font-size: 1.4rem;
}

.list__link:hover { text-decoration: underline; }

/* Responsive */

@media screen and (max-width: 50.9375em /* 815 */) {

    .footer {
        
        margin-top: 0;
        padding: 5rem 2.5rem;
    }
}

@media screen and (max-width: 32.5em /* 520 */) {

    .footer__nav {
        
        grid-template-columns: repeat(2, max-content);
        row-gap: 2.5rem;
        column-gap: 5rem;
    }
}