.profile {

    @include respond (break-1050) {

        margin-top: 10rem;

        flex-direction: column;
        padding-bottom: 5rem;
    }

    @include respond (break-600) {

        width: 100%;
        align-items: flex-start;
    }
    
    width: 80%;
    min-height: 40rem;
    margin: 0 auto;
    border-radius: 10px;

    padding: 0 !important;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {

    &__title {

        margin-bottom: 1.5rem;

        font-size: 5.6rem;
        font-weight: 900;
    }

    &__description {

        @include respond (break-1050) {

            width: 100%;
            padding-right: 0;
            text-align: center;
        }

        @include respond (break-600) { padding: 1.25rem; }
        @include respond (break-500) { text-align: left; }

        position: relative;

        text-align: left;
        width: 65%;
        padding-right: 1.5rem;
    }

    &__quote {

        @include respond (break-1050) {

            top: -50px;
            left: 50%;
            transform: translateX(-50%);
        }

        @include respond (break-500) {

            left: 25px;
            transform: translateX(0);
        }

        position: absolute;

        top: -50px;
        left: 25px;

        width: 5rem;
    }

    &__title,
    &__about {

        @include respond (break-1050) {

            width: 100%;
        }
    }

    &__about {

        font-size: 2.8rem;
        font-weight: 300;
        line-height: 1.5;    
    }

    &__img {

        @include respond (break-1050) {

            margin-top: 7.5rem;
        }

        @include respond (break-600) {

            width: 100%;
        }

        & > img { 

            @include respond (break-445) { width: 25rem; }
            width: 35rem; 
        }
    }
}