.techniques {

    min-height: 35rem;

    background-color: transparent;

    display: grid;
    grid-template-columns: repeat(5, 20rem);
    grid-template-rows: repeat(auto, 10rem);

    place-content: center;
    gap: 1rem;

    &__item { width: 20rem; }
}

.techniques {

    @include respond (break-1090)  {

        grid-template-columns: repeat(4, 20rem);
        padding: 7.5rem 0 !important;
    }

    @include respond (break-910) {

        grid-template-columns: repeat(3, 20rem);
        padding: 7.5rem 0 !important;
    }

    @include respond (break-670) {

        grid-template-columns: repeat(2, 20rem);
    }

    @include respond (break-445) {

        grid-template-columns: repeat(1, 20rem);
        gap: 2.5rem;
    }

    &__item { width: 20rem; }
}

/* ====== Languages and Tools ====== */

.lt {

    height: 10rem;
    width: 100%;

    padding: 1.5rem;
    border: 1px solid var(--grey-200);
    border-radius: 10px;
    box-shadow: var(--shadow-lg);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.lt {

    &__img {

        font-size: 3.2rem;
        border-radius: 5px;
        color: var(--slate-800)
    }

    &__name {

        margin-top: .5rem;
        font-size: 1.8rem;
        font-weight: 300;    
    }
}